<!-- 
 * File Name: footer.ejs
 * Name: Naisarg Patel
 * ID : 301215678
 * Date: 09/29/2022
 -->
<!-- JS Section -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src=""></script>
<script src="/Scripts/app.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- End of JS Section -->
</body>

</html>