<!-- 
 * File Name: about.ejs
 * Name: Naisarg Patel
 * ID : 301215678
 * Date: 09/29/2022
 -->
<%- include partials/header.ejs %>
    <%- include partials/top_nav.ejs %>
        <!-- About Section -->
        <section id="about">
            <div class="container mt-4 pt-4">
                <h1 class="text-center">About Me</h1>
                <div class="row mt-4">
                    <div class="col-lg-4">
                        <img src="/Assets/images/profilepicture.jpg" class="profilepicture">
                    </div>
                    <div class="col-lg-8">
                        <p class="about_desc">I am a great team player but can also work independently when required. I
                            have excellent
                            communication and interpersonal skills and am able to build strong working relationships
                            with both colleagues and clients.

                        </p>
                        <p class="about_desc">I am highly organised and efficient, with a keen eye for detail. I am used
                            to working to
                            tight deadlines and always aim to produce high quality work.</p>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <ul>
                                    <li>Name: Naisarg Patel</li>
                                    <li>Age: 20</li>
                                    <li>Email Id: naisargjpatel@gmail.com</li>
                                </ul>
                            </div>

                        </div>
                        <p>Link to my resume: <a href="/Assets/resume.pdf" target="_blank">View</a></p>
                    </div>
        </section>
        <!-- End of About Section -->

        <%- include partials/bottom_nav.ejs %>
            <%- include partials/footer.ejs %>