<!-- 
 * File Name: projects.ejs
 * Name: Naisarg Patel
 * ID : 301215678
 * Date: 09/29/2022
 -->
<%- include partials/header.ejs %>
    <%- include partials/top_nav.ejs %>
        <!-- Projects Section -->

        <section id="portfolio">
            <div class="container mt-3">
                <h1 class="text-center">Projects</h1>
                <div class="row">
                    <div class="col-lg-4 mt-4">
                        <div class="card">
                            <img class="card-img-top" src="/Assets/images/project1.png" alt="Project1"
                                style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">Pizza Order Application</h4>
                                <p class="card-text">Using Android Studio (Java) along with MySQL database, I created an
                                    online
                                    Pizza ordering application.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4">
                        <div class="card portfolioContent">
                            <img class="card-img-top" src="/Assets/images/project2.jpg" alt="Project2"
                                style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">Online Library</h4>
                                <p class="card-text">Using Web technologies and MongoDB Database, I along with my team
                                    created an online library, which had a record of over 1000+ books.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4">
                        <div class="card portfolioContent">
                            <img class="card-img-top" src="/Assets/images/project3.webp" alt="Project3"
                                style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">Google Map Clone</h4>
                                <p class="card-text">Using API services and JavaScript, I created a Google Map Clone.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- End of Projects Section -->

        <%- include partials/bottom_nav.ejs %>
            <%- include partials/footer.ejs %>