<!-- 
 * File Name: services.ejs
 * Name: Naisarg Patel
 * ID : 301215678
 * Date: 09/29/2022
 -->
<%- include partials/header.ejs %>
    <%- include partials/top_nav.ejs %>
        <!-- Services section -->
        <section id="services">
            <div class="container">
                <h1 class="text-center">Services</h1>
                <div class="row">
                    <div class="col-lg-4 mt-4">
                        <div class="card servicesText">
                            <div class="card-body">
                                <img src="/Assets/images/webdevelopment.png" alt="" width="50" height="50">
                                <h4 class="card-title mt-3">Web Application Development</h4>
                                <p class="card-text mt-3">I started to code when I was a teen. Eventually, my interest
                                    shifted towards web programming and creating dynamic websites.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-4">
                        <div class="card servicesText">
                            <div class="card-body">
                                <img src="/Assets/images/desktopapplication.png" alt="" width="50" height="50">
                                <h4 class="card-title mt-3">Desktop Applications</h4>
                                <p class="card-text mt-3">When the famous language "Java" and MySql database meet, a
                                    robust and efficient desktop application is created.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4">
                        <div class="card servicesText">
                            <div class="card-body">
                                <img src="/Assets/images/machinelearning.png" alt="" width="50" height="50">
                                <h4 class="card-title mt-3">Machine Learning</h4>
                                <p class="card-text mt-3">Machine Learning is a complex concept with an association of
                                    math, theory and logical implementation. </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- End of Services section -->

                <%- include partials/bottom_nav.ejs %>
                    <%- include partials/footer.ejs %>